body{
	color: #333;
	font-family: Courier;
	text-align: center;
	font-size: 16px;
	margin: 0;
	padding: 0;
}

#container{
	border: 1px solid #DDD;
	margin: 0 auto;
	padding: 1em;
	text-align: left;
	width: 70%;
}

#container h1{
	font-size: 20px;
}